{{- if .is_docker -}}
#!/bin/bash
set -euo pipefail

sudo() { if [ "$(id -u)" -eq 0 ]; then "$@"; else command sudo "$@"; fi; }

echo "Installing atuin..."
ARCH=$(uname -m)
if [ "$ARCH" = "aarch64" ]; then
  LATEST_RELEASE=$(curl -L -s -H 'Accept: application/json' https://github.com/atuinsh/atuin/releases/latest)
  LATEST_VERSION=$(echo "$LATEST_RELEASE" | sed -e 's/.*"tag_name":"\([^"]*\)".*/\1/')
  ATUIN_BINARY_URL="https://github.com/atuinsh/atuin/releases/download/${LATEST_VERSION}/atuin-aarch64-unknown-linux-gnu.tar.gz"
  curl -L "$ATUIN_BINARY_URL" | sudo tar xz -C /tmp
  sudo mv "/tmp/atuin-aarch64-unknown-linux-gnu/atuin" /usr/local/bin/
else
  bash <(curl --proto '=https' --tlsv1.2 -sSf https://setup.atuin.sh)
fi
{{- end }}
