# Mapping to reload config
bind r source-file ~/.tmux.conf

bind -n S-Left select-pane -L
bind -n S-Right select-pane -R
bind -n S-Up select-pane -U
bind -n S-Down select-pane -D

# Shift arrow to switch windows
bind -n M-S-Left  previous-window
bind -n M-S-Right next-window

# Small delay for escape key press (prevents garbled escape sequences)
set -sg escape-time 20

# Enable mouse scrolling support
set -g mouse on

# Open new panes and windows in working dir
bind '"' split-window -c "#{pane_current_path}"
bind % split-window -h -c "#{pane_current_path}"
bind c new-window -c "#{pane_current_path}"

# Use VI mode
set-window-option -g mode-keys vi

# Bind jkl; in vi mode
bind -Tcopy-mode-vi j send -X cursor-left
bind -Tcopy-mode-vi k send -X cursor-down
bind -Tcopy-mode-vi l send -X cursor-up
bind -Tcopy-mode-vi \; send -X cursor-right
unbind -Tcopy-mode-vi h

set -s set-clipboard on

set -g status on

# List of plugins
set -g @plugin 'tmux-plugins/tpm'
set -g @plugin 'tmux-plugins/tmux-sensible'
set -g @plugin 'arcticicestudio/nord-tmux'
{{ if .is_docker }}
# VS Code dev container env propagation: refresh these session vars on
# (re)attach so new panes see the latest VS Code IPC sockets. Paired with
# ~/.vscode-tmux-env.sh (sourced from ~/.zshrc). Installed by chezmoi.
set -g update-environment "VSCODE_IPC_HOOK_CLI VSCODE_GIT_IPC_HANDLE VSCODE_GIT_ASKPASS_NODE VSCODE_GIT_ASKPASS_MAIN VSCODE_GIT_ASKPASS_EXTRA_ARGS VSCODE_NONCE REMOTE_CONTAINERS_IPC REMOTE_CONTAINERS_SOCKETS REMOTE_CONTAINERS"
{{- end }}

# Initialize TMUX plugin manager (keep this line at the very bottom of tmux.conf)
run '~/.tmux/plugins/tpm/tpm'
